<div class="contenitor">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
            <li class="nav-item" *ngFor="let category of categories">
                <a class="nav-link" [routerLink]="['/categories',category.id,'products']">{{category.category}}</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <ng-container *ngIf="account.loggedUser$ | async; then loggedIn; else elseBlock"></ng-container>

            <ng-template #loggedIn>
                <li class="nav-item"><a class="nav-link">{{currentUser.name}}</a></li>
                <li class="nav-item"><a class="nav-link" (click)="account.logout()">Logout</a></li>
            </ng-template>
            
            <ng-template #elseBlock>
                <li class="nav-item"><a class="nav-link" [routerLink]="['authenticate/login']">Login</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['authenticate/signup']">Signup</a></li>
            </ng-template>
            
            <li class="nav-item"><a class="nav-link" [routerLink]="['cart']">Cart: {{cartAmount}}</a></li>
        </ul>
    </nav>
    <section>
        <router-outlet></router-outlet>
    </section>
</div>